form{
    width: 1000px;
    margin-left: 50px;
}
input{
    border-radius: 5px;
    background-color: rgb(173, 168, 168);
}
label{
    margin-left: 10px;
}
#buttA{
    background-color: rgb(71, 237, 15);
   margin: 94px;
   margin-left: 290px;
   padding: 7px;
   border-radius: 4px;
   width :530px;
}