form{
    width: 980px;
    margin: 80px;
}
input{
    border-radius: 5px;
    background-color: rgb(173, 168, 168);
}
label{
    margin-left: 10px;
}

#inputGroup{
    width: 10px;
    margin-left: 200px;
}

 #select{
    width: 780px;
    margin-left: 200px;
    text-align: center;
 }
 .Checkdiv{
    margin-left: 260px;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px 20px;
    padding-left: 30px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.check2{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.check2:hover{
    background-color: #efefef;
    width: 100%;
}
.input-wrapper{
    background-color: white;
    width: 70%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 2.5em;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    margin-left:260px;
}
input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    
}
input::placeholder{
    padding-left: 50px;
}
input:focus{
    outline: none;
}
#search-icon{
    color: royalblue;
    width: 80px;
}
.mod {
    width: 70em;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    margin-left: 200px;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 50px;
    padding-right: 250px;

  }
  .inputes{
     padding-left: 50px;     
  }
  #grInput{
    padding-left: 170px;
    width: 53em;
  }
  #grmod{
    height: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  #FormControl{
    width: 30em;
  }
  .rech{
    margin-left: 354px;
    margin-top: -267px;
  }
  .h5gr{
    padding-left: 17em;
    padding-bottom: 20px;
    font-weight: 400;
  }
  #rch{
    padding-top: 96px;
  }
  #placegr{
    margin-left: -30px;
  }