.ajt{
    margin-left: 350px;
    margin-top: 50px;
    width: 550px;
 }
 #inputGroup{
    width: 100px;
    margin-left: 200px;
}
#rechOrg{
    margin-left: 354px;
    margin-top: -200px;
}
.card{
   margin-left: 13em;
}