.Butt{
    margin-left: 2px;
    width: 95px;
}
td {
    width: 500px;
}
th{
    width: 500px;
}

.table{
   margin-left: -30px;
   margin-top: 30px;
   width:75em;
  
}
.checkdiv{
    margin-left: 260px;
    margin-bottom: -20px;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px 20px;
    padding-left: 30px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}
#alert{
   text-align: center;
   margin-left: 370px;
}
#input{
    margin-top: 0px;
    margin-bottom:10px;
}
.search{
    margin-bottom: 0px;
    margin-top: -70px;
    margin-left: -60px;
}
#mod{
    margin-left: 550px;
}
.cnt{
    margin-top: 50px;
    padding-left: 120px;
   background: no-repeat;
   background-position: center;
   background-size: cover;
}