.Title{
    margin-top: 25px;
}
.Title h1 {
    text-align:center;
    text-transform:uppercase;
    font-size:26px; letter-spacing:1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }
  
  .Title h1:after,.Title h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
  }

td {
    width: 500px;
}
th{
    width: 500px;
}

.table{
   margin: 20px;
   width:75em;
  
}
.ajt{
   margin-left: 350px;
   margin-top: 30px;
   width: 550px;
}
#Button{
width: 95px;
margin-left: 3px;
}
#mySidebar{
    width: 25%;
    width: 200px;
}
#cnt{
    margin-left: 25%;
}
#main{
    margin-left: 200px;
}