td {
    width: 500px;
    text-align: center;   
}
th{
    width: 500px;
}

.buttS{
   background-color: red;
   margin: 4px;
   padding: 7px;
   border-radius: 4px;
}
.buttM{
    background-color: rgb(71, 237, 15);
   margin: 4px;
   padding: 7px;
   border-radius: 4px;
}
.buttA{
    background-color: rgb(71, 237, 15);
   margin: 4px;
   padding: 7px;
   border-radius: 4px;
   width :530px;
}