td {
    width: 500px;
}
th{
    width: 500px;
}

.table{
   margin: 20px;
   width:75em;
  
}
.ajt{
   margin-left: 350px;
   margin-top: 30px;
   width: 550px;
}
#Button{
width: 95px;
margin-left: 3px;
}
